.address {
  display: none;

  @include for-tablet {
    display: block;
    &-items:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @include for-desktop {
    display: flex;
    &-items:not(:last-child) {
      margin-right: 30px;
    }
  }

  .address-items-link {
    @include font(500, 14px, 0.02em, $primary-font-family);
    line-height: 1.14;
    transition-property: color;
    transition-duration: $transition-duration;
    transition-timing-function: $timing-function;
    &:hover,
    &:focus {
      color: $accent-color;
    }
    &:hover svg,
    &:focus svg {
      fill: $accent-color;
    }
  }

  .address-icon {
    margin-right: 10px;
    align-items: baseline;
    vertical-align: middle;

    fill: #afb1b8;

    transition-property: fill;
    transition-duration: $transition-duration;
    transition-timing-function: $timing-function;
  }
}

.address-footer {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 8px;

  @include font(400, 14px, 0.03em, $primary-font-family);
  line-height: 1.71;
  color: #ffffff;
  font-style: normal;

  &-email {
    margin-bottom: 8px;
  }

  &-email,
  &-telephone {
    @include font(400, 14px, 0.03em, $primary-font-family);
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);

    transition-property: color;
    transition-duration: $transition-duration;
    transition-timing-function: $timing-function;
    &:hover,
    &:focus {
      color: #2196f3;
    }
  }
}
