.client-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.client-list > li {
  width: calc((100% - 30px) / 2);
  margin-bottom: 30px;
}

.client-list > li {
  @include for-tablet {
    width: calc((100% - 30px * 2) / 3);
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(3n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }
}

.client-list > li {
  @include for-desktop {
    flex-wrap: nowrap;
    width: calc((100% - 30px * 5) / 6);
    &:not(:last-child) {
      margin-right: 30px;
      margin-bottom: 0;
    }
  }
}

.client-link {
  @include centerFlex;
  height: 90px;
  border-radius: 4px;
  border: 1px solid #afb1b8;

  transition-property: border;
  transition-duration: $transition-duration;
  transition-timing-function: $timing-function;
}

.client-icon {
  box-sizing: content-box;
  fill: #afb1b8;

  transition-property: fill;
  transition-duration: $transition-duration;
  transition-timing-function: $timing-function;
}

a:hover .client-icon,
a:focus .client-icon {
  fill: $accent-color;
}

.client-link:hover,
.client-link:focus {
  border-color: $accent-color;
}
