.container {
  width: 100%;

  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @include for-phone {
    width: 480px;
  }
  @include for-tablet {
    width: 768px;
  }
  @include for-desktop {
    width: 1200px;
  }
}

.portfolio-container {
  padding-bottom: 60px;
}
