.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1600px;
  text-align: center;
  // background: #c4c4c4;
  background-position: center;
  border-top: 1px solid #ececec;
  overflow: hidden;
  background-size: cover;
}

.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url("../images/phone/headerimg.jpg");

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url("../images/phone/headerimg@2x.jpg");
  }

  height: 400px;
  padding-top: 116px;

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url("../images/tablet/headertabletimg.jpg");

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.8),
          rgba(47, 48, 58, 0.8)
        ),
        url("../images/tablet/headertabletimg@2x.jpg");
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url("../images/hero.jpg");

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.8),
          rgba(47, 48, 58, 0.8)
        ),
        url("../images/herodecktop@2x.jpg");
    }
    height: 600px;
    padding-top: 200px;
  }
}

.hero-title {
  margin-bottom: 30px;

  @include font(900, 26px, 0.06em, $primary-font-family);
  line-height: 1.61;

  text-transform: uppercase;
  color: #ffffff;

  @include for-desktop {
    font-size: 44px;
    line-height: 1.36;
  }
}
