.work-description {
  &-title {
    margin-top: 30px;
    margin-bottom: 10px;

    @include font(700, 14px, 0.03em, $primary-font-family);
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;
    color: $title-text-color;
  }

  &-text {
    font-size: 14px;
    line-height: 1.71;
    font-weight: 400;
  }
  &-item {
    width: 100%;
    margin-right: auto;
    margin-left: auto;

    &:not(:last-child) {
      padding-bottom: 30px;
    }
  }

  &-wrap {
    @include centerFlex;
    background-color: #f5f4fa;
    border-radius: 4px;
  }
  &-icons {
    width: 70px;
  }
}

@include for-tablet {
  .work-description {
    display: flex;
    flex-wrap: wrap;
    margin: auto;

    &-title {
      text-align: start;
    }

    &-item {
      width: calc((100% - 30px) / 2);
      margin-right: 30px;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
}

@include for-desktop {
  .work-description {
    display: flex;

    &-item {
      width: calc((100% - 30px * 3) / 4);
      margin-right: 30px;
    }
    &-item:last-child {
      margin-right: 0px;
    }
  }
}
