button {
  border-radius: 4px;
  @include font(500, 16px, 0.03em, $primary-font-family);
  line-height: 1.625;

  border-width: 0px;
  border-style: none;
}

.button {
  padding: 10px 32px;
  min-width: 200px;

  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: bold;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: $primary-bg-color;

  transition-property: color, background-color;
  transition-duration: $transition-duration, $transition-duration;
  transition-timing-function: $timing-function, $timing-function;

  &:hover {
    cursor: pointer;
    color: $accent-color;
    background-color: $primary-bg-color;
  }

  &:focus {
    cursor: pointer;
    color: $accent-color;
    background-color: $primary-bg-color;
  }

  &:hover .form-footer-button-icon,
  &:focus .form-footer-button-icon {
    fill: $accent-color;
    transition-duration: $transition-duration;
    transition-timing-function: $timing-function;
  }
}

.form-footer-button {
  display: inline-block;
  align-items: baseline;
  padding: 10px 28px 10px 29px;
  height: 50px;
  width: 200px;

  &-icon {
    fill: white;
    width: 24px;
    height: 24px;

    transition-duration: $transition-duration;
    transition-timing-function: $timing-function;
  }
}

.button-modal {
  padding: 0;
  position: absolute;
  display: inline-block;
  top: 8px;
  right: 8px;

  background: #ffffff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.btn-close {
  width: 11px;
  height: 11px;
}
