.form-footer {
  display: flex;
}

.form-footer input {
  margin-right: 12px;
  padding: 15px 0 14px 15px;
  width: 358px;
  height: 50px;

  @include font(400, 16px, 0.03em, $primary-font-family);
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px, 4px, 4px, rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2f303a;
}

.form-footer {
  display: block;
  input {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
}

@include for-desktop {
  .form-footer {
    display: inline-flex;
    & > input {
      width: 358px;
      margin-right: 12px;
      margin-bottom: 0;
    }
  }
  .address-footer-wrap,
  .footer-social {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.form-footer-button {
  display: inline-block;
}
