.logo {
  @include font(700, 24px, 0.03, $secondary-font-family);
  line-height: 1.16;

  line-height: 1.19;
  color: #000000;

  &-blue {
    color: $accent-color;
  }

  &-white {
    color: white;
  }

  &.header {
    padding: 24px 0 25px 0;
  }
}

.logo {
  @include for-tablet {
    margin-right: 88px;
  }
  @include for-desktop {
    font-size: 26px;
    margin-right: 85px;
  }
}
