.navigation {
  display: flex;
  margin-right: auto;

  @include font(500, 14px, 0.02em, $primary-font-family);
  line-height: 1.14;
}

.navigation.list {
  display: none;

  @include for-tablet {
    display: block;
  }
  @include for-desktop {
    display: block;
  }
}

.navigation-items {
  display: inline-block;
  vertical-align: middle;
  padding-top: 32px;
  padding-bottom: 32px;

  position: relative;

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.navigation-items-link.current::after {
  content: "";
  // display: block;
  // position: absolute;
  // opacity: 1;

  height: 4px;
  width: 100%;
  background-color: $accent-color;
  border-radius: 2px;
  bottom: -1px;
  transition-property: background-color;
  transition-duration: $timing-function;
  transition-timing-function: $timing-function;
}

.navigation-items-link {
  color: $title-text-color;

  transition-property: color;
  transition-duration: $transition-duration;
  transition-timing-function: $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
  &.current {
    color: $accent-color;
    letter-spacing: 0.02em;
  }
}

.navigation-items:hover::after {
  opacity: 0;
}
