.social-media {
  width: 206px;
  display: inline-flex;

  &-link {
    @include centerFlex;
    width: 44px;
    height: 44px;
    fill: #afb1b8;
    border-radius: 50%;

    transition-property: fill, background;
    transition-duration: $transition-duration, $transition-duration;
    transition-timing-function: $timing-function, $timing-function;

    &:focus,
    &:hover {
      fill: white;
      background: $accent-color;
    }
  }
  &-icon {
    display: block;
    width: 20px;
    height: 20px;
  }
}

.social-media-item {
  width: calc((100% - 10px * 3) / 4);
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.footer {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: white;
}
