.portfolio-button-items {
  margin-right: 8px;
  border-radius: 4px;

  &:last-child {
    margin-right: 0;
  }
  &:focus,
  &:hover {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    transition-property: box-shadow;
    transition-duration: $transition-duration;
    transition-timing-function: $timing-function;
  }
}

.btn {
  padding: 6px 22px;
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;

  transition-property: color, background-color;
  transition-duration: $transition-duration, $transition-duration;
  transition-timing-function: $timing-function, $timing-function;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: $accent-color;
    cursor: pointer;
  }
}

.portfolio-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  @include for-tablet {
    justify-content: center;
    margin-bottom: 30px;
  }
  @include for-desktop {
    margin-bottom: 50px;
    justify-content: center;
  }
}

.portfolio-button-items {
  margin-bottom: 15px;
  &:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
  @include for-tablet {
    margin-bottom: 0;
  }
  @include for-desktop {
    margin-bottom: 0;
  }
}
